body,
html {
    font-family: Arial, sans-serif;
    background-color: grey;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font: var(--primary-font);
    text-align: center;
    padding: 30px;
    height: 20%;
}

main {
    background-color: grey;
    padding: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    flex-grow: 1;
    height: 70%;
}

#nombre-usuario {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 45%;
}

#nombre-usuario div {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#nombre-usuario div input {
    display: flex;
}

#nombre-usuario div p {
    display: flex;
    width: 70%;
}

#nombre-usuario h2 {
    margin-bottom: 2em;
}

#foto {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 45%;
}

#foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

#foto form {
    background-color: var(--primary-color);
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#foto h2 {
    margin-bottom: 1em;
}

#subirFoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 50px;
}

@media (max-width: 767px) {
    main {
        flex-direction: column;
    }

    #nombre-usuario {
        width: 100%;
    }

    #foto {
        width: 100%;
    }

    .archivo {
        width: 70%;
    }

}