/* @media (max-width:767px) {
    #info {
        width: 100%;
        position: relative;
    }
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font: var(--primary-font);
    text-align: center;
    padding: 30px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    margin-bottom: 20px;
    width: 45%;
}

#info div {
    width: 50%;
    padding: 10px;
}

#info form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info label,
#info input[type="submit"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    margin-bottom: 20px;
    width: 45%;
}

#subirFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

form {
    padding: 20px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

img {
    width: 100%;
    border-radius: 50%;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}