@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --primary-color: #333533;
    --secondary-color: #e85d04;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--primary-font);
}

body {
    background-color: #495057;
}

button {
    color: #fff;
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 1px;
}

h3 {
    font-family: var(--secondary-font);
    color: #fff;
    letter-spacing: 2px;
}

